VITE_N8N_TEST_WEBHOOK_URL='https://n8n.mydomain.com/webhook-test/xxx'

# Configurações visuais do chat
VITE_CHAT_HEIGHT=600px
VITE_CHAT_WIDTH=320px
VITE_CHAT_FONT_SIZE_USER=14px
VITE_CHAT_FONT_SIZE_BOT=13px
VITE_CHAT_FONT_SIZE_BOT_HEADERS=16px
